<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag 'userslogin', :media => "all" %>
</head>
<body class="userslogin">

<div class="subtitle">
<h2>ログイン</h2>
</div>

<div class="userlogin-container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <h3>メールアドレス</h3>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <h3>パスワード </h3>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <p><%= f.check_box :remember_me %> ログイン状態を保持</p>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<div class="user-link-container">
<%= render "users/shared/links" %>
</div>

</div>

</body>
</html>
