<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag 'usersshow', :media => "all" %>
</head>
<body class="usersshow">

<div class="subtitle">
<h2>マイページ</h2>
</div>

<div class="user-container">
  <div class="image-top-container">
  <div class="image-top">
  <%= image_tag @user.resize_image_top if @user.image_top.attached? %>
  </div>
  </div>

  <div class="user-sub-container">
  <p>ユーザーネーム : <%= @user.name %></p>
  <p>メールアドレス : <%= @user.email %></p>
    <!-- プロフィール : %= @user.profile % -->
  <% if current_user.id == @user.id %>
   <%= link_to "アカウント情報の変更", edit_user_registration_path %>
  <% end %>
  </div>

</div>

</body>
</html>