<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag 'photosedit', :media => "all" %>
</head>
<body class="photosedit">

<div class="subtitle">
<h2>ハッシュタグ編集</h2>
</div>

<div class="photo-container">
<%= form_for @photo do |f| %>

   <div class="image-top">
   <%= image_tag @photo.resize_image_top if @photo.image_top.attached? %>
   </div>

  <div class="ftag">
  <h4>ハッシュタグ</h4>
  <h5>(半角スペースを入力することで複数のタグを付けることができます)</h5>
  <%= f.text_field :tag_name, value: @tag_list, class: "form-control" %>
  <%= f.submit "編集する" %>
  </div>

<% end %>
</div>


</body>
</html>

<%#= f.label :tag_name, "ハッシュタグ (半角スペースを入力することで複数のタグを付けることができます)" %>