<%#= stylesheet_link_tag 'search', :media => "all" %>

<h3>ハッシュタグ一覧</h3>
<% @tag_list.each do |list| %>
  <i class="fa-solid fa-hashtag" style="color: #000000;">
    <%= link_to list.tag_name, tag_photos_path(tag_id: list.id) %>
  </i>
  <%= "(#{list.photos.count})" %>
<% end %>

<p>#<%= @tag.tag_name %></p>

画像をクリックすると投稿詳細が見られます
<div class="photos-container">
  <% @photos.each do |photo| %>
    <%= link_to photo_path(photo.id) do %>
      <div class="photo">
        <%= image_tag photo.resize_image_top if photo.image_top.attached? %>
      </div>
    <% end %>
  <% end %>
</div>